#LoginSection {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../Imgs/LoginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#LoginSection .Login-Form {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.login-banner {
  width: 50vw;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.4em;
  flex-direction: column;
  text-align: center;
}

.login-banner svg {
  margin-top: 30px;
  height: 30vh;
}

#login-form {
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.25);
  padding: 60px 30px;
  z-index: 3;
  background-color: white;
  border-radius: 10px;
}

.form-bg {
  position: relative;
  z-index: 2;
}

.form-bg::after {
  content: "";
  background-color: #5feda9;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
}

#login-form input {
  margin-top: 20px;
  border: 0px;
  border-bottom: 2px solid #5feda9;
  font-size: 1.1em;
  background-color: #f6f6f6;
  padding: 10px 5px;
  color: black;
}

#login-form button {
  margin-top: 20px;
  background-color: #5feda9;
  padding: 5px 40px;
  color: white;
  border-radius: 60px;
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#login-form button:hover {
  transform: scale(1.1);
}

#login-form a {
  text-decoration: underline;
  color: black;
}

#login-form h2 {
  color: #5feda9;
}
